<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxb.order.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.cxb.apicommon.model.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="interfaceId" column="interfaceId" jdbcType="BIGINT"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="totalAmount" column="totalAmount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="FLOAT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,interfaceId,
        count,totalAmount,status,
        price,createTime,updateTime,
        isDelete
    </sql>
</mapper>
